.card{
    width: 180px;
    height: 250px;
    background-image: url('/src/assets/defaultcard.png');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: absolute;
    top: 40%; /* Adjusted from 50% to 60% to move it lower */
}
.card:hover {
    transform: scale(1.1);
}

.card-content {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.activeButton {
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.disableButton {
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: not-allowed;
}