/* GameBoard.css */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.game-board-container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}